.App {
  text-align: center;
}
.card{
  margin: 10px;
  background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 10px;
}
.flag{
  width: 250px;
}
.weather-button{
  margin-bottom: 20px;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 5px;
}
.weather-button:hover{
  background-color: black;
  color: aquamarine;
}
.submit-button{
  padding: 7px;
  width: 100px;
  border-radius: 5px;
  border: none;
  margin: 20px;
}
input{
  height: 24px;
  width: 200px;
  padding: 3px 15px;
  border-radius: 5px;
}
.input-div{
  margin-top: 100px;
}